In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("../cleaned/cleaned_restaurant_data.csv")

india_df = df[df["country"] == "India"].copy()
print(india_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5214 entries, 601 to 5814
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   restaurant_name       5214 non-null   object
 1   city                  5214 non-null   object
 2   locality              5214 non-null   object
 3   cuisines              5214 non-null   object
 4   average_cost_for_two  5214 non-null   int64
 5   currency              5214 non-null   object
 6   has_table_booking     5214 non-null   object
 7   has_online_delivery   5214 non-null   object
 8   price_range           5214 non-null   int64
 9   aggregate_rating      5214 non-null   float64
 10  rating_text           5214 non-null   object
 11  votes                 5214 non-null   int64
 12  country               5214 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 570.3+ KB
None

In [14]:
india_df.drop(columns=["country", "currency"], inplace=True)
print(india_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5214 entries, 601 to 5814
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   restaurant_name       5214 non-null   object
 1   city                  5214 non-null   object
 2   locality              5214 non-null   object
 3   cuisines              5214 non-null   object
 4   average_cost_for_two  5214 non-null   int64
 5   has_table_booking     5214 non-null   object
 6   has_online_delivery   5214 non-null   object
 7   price_range           5214 non-null   int64
 8   aggregate_rating      5214 non-null   float64
 9   rating_text           5214 non-null   object
 10  votes                 5214 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 488.8+ KB
None

In [15]:
india_df.to_csv("../cleaned/clean_data_india.csv", index=False)