In [1]:
import pandas as pd

In [2]:
zomato = pd.read_csv("../raw/zomato.csv", encoding="latin1")
zomato.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [3]:
countries = pd.read_excel("../raw/Country-Code.xlsx")
countries.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [4]:
# merge files zomato and countries by column "CountryCode"

df = pd.merge(zomato, countries, on="Country Code", how="left")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines

In [5]:
# Rows, Columns
print(df.shape)

# Data types + nulls
df.info()

# Statistical
df.describe()

(9551, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
 21  Country               9551 non-null   object
dtypes: float64(3), int64(5), object(14)
memory usage: 1.6+ MB

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [6]:
# kis column me kitne null values hain 
df.isnull().sum()

# Drop rows from null cuisines
df = df.dropna(subset=["Cuisines"]) 

# Remove unnecessary columns from dataset

df.drop(columns=["Restaurant ID", "Country Code", "Address", "Locality Verbose", "Longitude", "Latitude", "Is delivering now",
                 "Switch to order menu", "Rating color"], axis=1, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9542 entries, 0 to 9550
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant Name       9542 non-null   object
 1   City                  9542 non-null   object
 2   Locality              9542 non-null   object
 3   Cuisines              9542 non-null   object
 4   Average Cost for two  9542 non-null   int64
 5   Currency              9542 non-null   object
 6   Has Table booking     9542 non-null   object
 7   Has Online delivery   9542 non-null   object
 8   Price range           9542 non-null   int64
 9   Aggregate rating      9542 non-null   float64
 10  Rating text           9542 non-null   object
 11  Votes                 9542 non-null   int64
 12  Country               9542 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 1.0+ MB
None

In [7]:
# Remove duplicates
df.duplicated().sum()
df.drop_duplicates(inplace=True)

df.drop_duplicates(subset=["Restaurant Name", "City"], inplace=True)
print("Rows after removing duplicates", df.shape[0])

Rows after removing duplicates 7965

In [8]:
# Change columns names into simplest form

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7965 entries, 0 to 9550
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   restaurant_name       7965 non-null   object
 1   city                  7965 non-null   object
 2   locality              7965 non-null   object
 3   cuisines              7965 non-null   object
 4   average_cost_for_two  7965 non-null   int64
 5   currency              7965 non-null   object
 6   has_table_booking     7965 non-null   object
 7   has_online_delivery   7965 non-null   object
 8   price_range           7965 non-null   int64
 9   aggregate_rating      7965 non-null   float64
 10  rating_text           7965 non-null   object
 11  votes                 7965 non-null   int64
 12  country               7965 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 871.2+ KB
None

In [9]:
# filtering rows 

df = df[df["aggregate_rating"] != 0]

In [10]:
# Reset Indexing

df.reset_index(drop=True, inplace=True)

In [11]:
# values count

df["country"].value_counts()

country
India             5214
United States      419
United Kingdom      78
South Africa        60
UAE                 59
Brazil              53
New Zealand         40
Turkey              32
Australia           24
Phillipines         22
Singapore           20
Qatar               20
Sri Lanka           20
Indonesia           19
Canada               4
Name: count, dtype: int64

In [12]:
df["city"].value_counts()

city
New Delhi         3052
Gurgaon            746
Noida              570
Faridabad          137
Ghaziabad           23
                  ...
Lincoln              1
Lakeview             1
Lakes Entrance       1
Inverloch            1
Panchkula            1
Name: count, Length: 140, dtype: int64

In [13]:
df["has_online_delivery"].value_counts()

has_online_delivery
No     4312
Yes    1772
Name: count, dtype: int64

In [14]:
df["rating_text"].value_counts()

rating_text
Average      2936
Good         1744
Very Good    1012
Excellent     283
Poor          109
Name: count, dtype: int64

In [15]:
df.to_csv("../cleaned/cleaned_restaurant_data.csv", index=False)